[Desktop Entry]
Name=testqtflatpak
Terminal=False
Type=Application
Icon=testqtflatpak
Exec=testqtflatpak
Comment=Testing Flatpak of a PyQt5 based GUI
Catagories=Games

